#subtitleContainer {
  border: 1px solid red;
  margin: 0px;
  padding: 0px;
  height: inherit;
  float: left;
  width: 25%;
  height: 100%;
}

#videoAndTextContainer {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-top: 20px;
  width: 75%;
  border : 2px solid yellow;
  height: 56%;
}

#videoFrame {
display: block;
margin: 0px;
padding: 0px;
float: left;
}

.contentContainer {
height: 100vh;
}

.pre-scrollable {
max-height: 100%;
overflow-y: scroll;
}

.jumbotron {
width: 70%;
margin:0 auto;
}
