#userSearchField {
  width: inherit;
}

#resultsContainer {
  margin-top: 20px;
  /*border: 1px solid red;*/
  padding: 0px;
}

#resultsContainer .row{
  margin: 0px;
  margin-bottom: 5px;
}

#resultsContainer .row div {
  background: rgb(230,230,230);
  padding-left: 10px;
  height: 30px;
}

.table {
  width: 20%;
}

.fa-times {
  color: red;
}

.fa-times:hover {

      -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
}
