 #banner {
    height: 70px;
    color: white;
    padding-left: 35px;
    padding-top: 9px;
    border: none;
  

    background: #990000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#cc0000, #4d0000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cc0000, #4d0000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cc0000, #4d0000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cc0000, #4d0000); /* Standard syntax */
  }

  #signInDropDownToggle {
    margin-left: 30px;
    margin-right: 10px;
  }

  #signInDropDownToggle ul {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    background-color: #e6e6e6;
    width: 400px;
  }

  button:visited {
    color: pink;
  } 

  @media (min-width: 768px) {
      .bootstrap-vertical-nav .collapse {
          display: block;
      }
  }
        
  @media (min-width: 768px) {
      .bootstrap-vertical-nav {
          margin-top: 30px;
          margin-right: 0px;
          padding: 0px;
      }
  }

  #side-navbar {
    /*border: 1px solid black;*/
    border-top: 0px;
    width: 180px;
    float: left;
    position: fixed;
    padding-left: 8px;
    margin: 0px;
    white-space: nowrap;
  }

  #side-navbar a:hover {
    text-shadow:0px 0px 1px black;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

